/**
 * gnsPLANET Authorize.Net Simple Checkout Plugin Styles
 */

/* Checkout Page */
#gns-checkout {
    padding: 0;
}
#gns-checkout h3 {
    padding: 0;
    margin: 0;
}
#gns-checkout .checkout-form hr {
    border-top: 1px solid #ccc;
    height: 1px;
}
#gns-checkout .checkout-form label {
    width: 100%;
}
#gns-checkout .checkout-form select,
#gns-checkout .checkout-form input {
    margin: 10px 0;
    min-width: 80%;
}
#gns-checkout .checkout-error {
    border: 1px solid red;
    color: red;
}
#gns-checkout .checkout-message {
    border: 1px solid red;
    color: #000;
    padding: 15px;
    background-color: lightpink;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
#gns-checkout .checkout-form .checkout-required {
    color: red;
}
#gns-checkout .checkout-form .checkout-items {}
#gns-checkout .checkout-form .checkout-total {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}
#gns-checkout .checkout-form .checkout-required {}
#gns-checkout .checkout-form .checkout-billing,
#gns-checkout .checkout-form .checkout-shipping,
#gns-checkout .checkout-form .checkout-optional,
#gns-checkout .checkout-form .checkout-payment {
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
#gns-checkout .checkout-form .checkout-submit {
    clear: both;
    text-align: center;
    margin-top: 20px;
}
#gns-checkout .checkout-form .checkout-submit .form-input input {
    min-width: 280px;
    margin-top: 25px;
}
#gns-checkout .checkout-form .checkout-submit .form-input input {
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 24px;
    outline: medium none;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* Media Queries */
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
    #gns-checkout .checkout-form .checkout-billing,
    #gns-checkout .checkout-form .checkout-shipping,
    #gns-checkout .checkout-form .checkout-optional,
    #gns-checkout .checkout-form .checkout-payment {
        width: 100%;
        float: none;
    }
    #gns-checkout .checkout-form select,
    #gns-checkout .checkout-form input {
        margin: 10px 0;
        min-width: 100%;
    }
    #gns-checkout .checkout-form .checkout-submit {
        text-align: center;
    }
    #gns-checkout .checkout-form .checkout-submit .form-input input {
        min-width: 100%;
    }
}
@media screen and (max-width: 480px) {
}