/**
 * gnsPLANET Authorize.Net Simple Checkout Plugin Admin Styles
 */
.gns-admin-settings-padding {
    padding: 10px;
}
.gns-plugin-welcome {
    margin-bottom: 20px;
}
.gns-admin-code-fragment {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: auto;
}
#gns_checkout_sectionid .inside ul:first-of-type,
#gns_checkout_sectionid .inside ul:nth-of-type(2),
#gns_checkout_sectionid .inside ul:nth-of-type(3),
#gns_checkout_sectionid .inside ul:nth-of-type(4) {
    width: 25%;
    float: left;
}
#gns_checkout_sectionid .inside input {
    width: 90%;
}

@media screen and (max-width: 1099px) {
    #gns_checkout_sectionid .inside ul:first-of-type,
    #gns_checkout_sectionid .inside ul:nth-of-type(2),
    #gns_checkout_sectionid .inside ul:nth-of-type(3),
    #gns_checkout_sectionid .inside ul:nth-of-type(4) {
        width: 50%;
        float: left;
    }
    #gns_checkout_sectionid .inside input {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
    #gns_checkout_sectionid .inside ul:first-of-type,
    #gns_checkout_sectionid .inside ul:nth-of-type(2),
    #gns_checkout_sectionid .inside ul:nth-of-type(3),
    #gns_checkout_sectionid .inside ul:nth-of-type(4) {
        width: 100%;
        float: left;
    }
    #gns_checkout_sectionid .inside input {
        width: 100%;
    }
}